@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Orbitron';

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,heade,nav,aside,section,article,footer
{ margin:0;  padding:0; }
table {border-collapse:collapse; border-spacing:0;}
input,select { vertical-align:top; padding:0;}
fieldset,img {border:0; vertical-align:top;}
address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; }
ol,ul {list-style: none; }
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight:normal;}
q:before,q:after {content:"";}
a{outline:1;   text-decoration:none; color:#666;}
em { font-style:normal; }
video {margin:0px; padding:0px;}
body { font: 12px /1.4 arial, sans-serif; color:#666; overflow-x:hidden;}
.h { position:absolute; top:-99999px;}


/* 전체 공통 */
.wrap {position:relative;}
.wrap .bg { width:100%; position:relative;background-attachment: fixed;background-position:left center;}

.wrap #home { height:758px;z-index: 100;}
.wrap #home .mask {width: 100%; height: 100%;opacity: 0; position: absolute; top:0px; left: 0px;}
.wrap>div#Landmark { height:758px; background-position:left 15%;background:url(http://stevechan.kr/my/img/landmark.jpg);background-size:cover;z-index: 80;}
.wrap>div#NightView { height:758px; background:url(http://stevechan.kr/my/img/nightview.jpg);background-size:cover; z-index: 100;overflow: hidden;}
.wrap>div#Food { height:758px; background:url(http://stevechan.kr/my/img/food.jpg); background-size:cover;}
.wrap>div#Hotel { height:758px; background:url(http://stevechan.kr/my/img/hotel.jpg); background-size:cover;}

      
/* 영상 */
.intro {width:100%; height:100%;position:relative;top:0px;left:0px;overflow: hidden;z-index: -1;}
/*.intro iframe {width: 100%; min-height: 115%;}*/
.intro iframe {position:absolute;width:1920px; height: 1080px; left:50%; margin-left:-960px; top:50%; margin-top:-540px;}

#NightView .intro {display: none;}

/*  인트로 애니메이션  */
.motion_intro {width:800px; height: 400px; position: absolute; top:100px; left:50%; margin-left:-400px; }
.motion_intro2 {width:800px; height: 400px; position: absolute; top:100px; left:50%; margin-left:-400px;border: 1px solid #fff; opacity: 0;}
.motion_intro3 {width:740px; height: 340px; position: absolute; top:137px; left:50%; margin-left:-400px; opacity: 0; text-align: center; vertical-align: center;padding: 30px;}
.motion_intro3 p {width:100%;height:80px;margin-top:10px;font:60px/1 "orbitron"; color:#fff;}
.motion_intro .top {width:0%; height: 1px; background: #fff; position:absolute; top:0px; left:0;}
.motion_intro .left {width:1px; height: 0%; background: #fff; position:absolute; bottom:0px; left:0px;}
.motion_intro .bottom {width:0%; height: 1px; background: #fff; position:absolute; bottom:0px; right:0;}
.motion_intro .right {width:1px; height: 0%; background: #fff; position:absolute; top:0px; right:0;}
.motion_intro .center {width:700px;height: 300px; margin:50px; auto;position:absolute;}
.center .center_left {float:left;width:0%; height: 2px; background: #fff; position:absolute; top:50%;left:50%; }
.center .center_right {float:left;width:0%; height: 2px; background: #fff; position:absolute; top:50%;right:50%;}
.center .count {width:250px; height: 100px; position:absolute; top:100px; left: 50%; margin-left: -125px; font:65px/1 "orbitron"; color:#fff; opacity: 0;text-align: center;vertical-align: center;}
.center .text  {width:453px; height: 100px; position:absolute; bottom:25px; left: 50%; margin-left: -225px; font:65px/1 "orbitron";color: #fff; text-align: center;}
.text span {float:left; width:70px; height: 100px;margin-left:5px;display:none;text-align:center;}
.text span.on {display:block;}

/*sns 박스*/
.snsbox {position: fixed; transition:ease 1s;overflow:hidden;width:80px; height: 40px; background: rgba(0,0,0,0.4); position:fixed; bottom:20px; right:100px;z-index:99999; cursor: pointer;border:1px solid #fff;display:hidden;}
.snsbox .title {display:block;width:80px; height: 40px;font:18px/2 "orbitron";color:#fff;text-align: center;}
.snsbox .con_sns {display:block;width:100%; height: 100%;display:none;}

.snsbox.on .logo_insta, .snsbox .close {display:none;}
.snsbox.on .close {display:block;}

.snsbox .item {float:left; width: 180px;height:180px; border: 1px solid #666; margin:3px; bax-sizing:border-box; padding:10px;transform:rotateX(180deg);font:12px/1 "orbitron";text-align: center;opacity: 0.7;transition:all 0.5s;overflow:hidden;}
.snsbox .item:hover {opacity: 1;}
.snsbox .item a.thumb {display:block; width: 180px;height:150px;}
.snsbox .item a.thumb img {width: 170%;height:110%; position: absolute;left:-80px; top:0px;}

/* ajax 호출되었을때 sns 상자     */
.snsbox.on {background:black;position:fixed; bottom:60px;right:50%; margin-right:-450px;width:900px; height:530px; border: 1px solid #ddd;overflow:hidden;transform:rotateX(180deg);}
.snsbox.on .logo_insta {display:block;position:absolute;bottom:17px; left:20px; width:120px;height: 55px; transform:rotateX(180deg);}
.snsbox.on .logo_insta img {width: 100%; height: 100%;}
.snsbox.on .title {display:none;}
.snsbox.on .close {display:block;position:absolute;bottom:17px; right:20px; width:50px;height: 30px;font:14px/1 "orbitron";transform:rotateX(180deg);color:#fff;}
.snsbox.on .moveinsta {position:absolute;right:-40px; bottom:6px;font:12px/1 "orbitron"; color:#c5bb29; width:140px; height:20px;}
.snsbox.on .like {position:absolute;left:4px; bottom:6px;font:14px/1 "orbitron"; color:#fff; width:180px; height:17px;background:rgba(0,0,0,0.7);text-align: left;padding: 6px;}
.snsbox.on .con_sns .list_insta {width:840px; height: 400px; position: absolute; top:40px;left:50%; margin-left: -420px;}

/* 네비게이션 */
#top {width:100%; height:80px;background:rgba(0,0,0,0.8); color:#fff;position:absolute; top:0px; left:0px;z-index: 1000}
#top .topnavi {overflow:hidden;width:750px; height: 100%; margin: 0 auto;}
.topnavi li {float:left;text-align:center;}
.topnavi li a{display:block;width:150px;height: 80px;color:#fff;font:18px/4 "orbitron";}
.topnavi li a.on {color:red;}

/* 랜드마크 콘텐츠 */

#Landmark>div {position:relative;float:left; margin-left:1px; background:rgba(0,0,0,0.6);width:200px; height: 0%; transform:skewX(10deg);overflow: hidden;left: 80px;}
#Landmark .title {display:block; width:140px; height:50px; position:absolute; top: 50%; margin-top:-25px;font:18px/1 "orbitron"; color:#fff;text-align: center;left:50%; margin-left:-65px;}
#Landmark div p {padding:15px;width:350px; min-height: 50px; position:absolute; bottom: 50px; right: -400px;text-align:left;transform:skewX(-10deg);z-index:1000;font:15px/1 "arial"; color:#fff;background: rgba(0,0,0,0.5);}

/*   랜드마크 로딩 시 등장 애니메이션  */
#Landmark .starferry {top:-900px;opacity:0;}
#Landmark .heritage {bottom:-900px;opacity:0;}
#Landmark .mongkok {top:-900px;opacity:0;}
#Landmark .tram {bottom:-900px;opacity:0;}

#Landmark .starferry.on {top:0; opacity:1; }
#Landmark .heritage.on {bottom:0; opacity:1;}
#Landmark .mongkok.on {top:0; opacity:1;}
#Landmark .tram.on {bottom:0; opacity:1;}

#Landmark>div.on {height: 100%;transition:ease 0.5s; }
#Landmark>div.video {width:35%; transition:all 0.5s; }
#Landmark video {position: absolute; width:1200px;left:50%;margin-left:-600px; height: 100%; z-index: 10; margin-top: 0px; opacity: 0; background: rgba(0,0,0,0.6);}

/*  Nightview 구름  */
#NightView>img:nth-child(1) { position:absolute; top:-70px; left:-1146px; animation:ani1 110s linear  infinite; opacity:0.8;}
#NightView>img:nth-child(2) { position:absolute; top:-60px; left:0px; animation:ani2 100s linear  infinite; opacity:0.8;}
/*구름 모션*/
@keyframes ani1 {
	0%{ left:-1146px;}
	100% { left:1950px;}
}
@keyframes ani2 {
	0%{ left:0px;}
	50% { left:1950px; opacity:0;}
	50.001% { left:-1840px; opacity:0.8;}
	100% { left:0px;}
}

/*  Nightview 콘텐츠 */
#NightView>div {transform:skewX(10deg);width:200px; height:400px;position: absolute;top:50%; margin-top: -200px;background: #000;overflow: hidden;opacity: 0.8;}
#NightView>div h3 {width:120px; height: 30px; font:18px/1 "orbitron"; color:#fff;position: absolute; top:30px; left:50%; margin-left: -60px;text-align: center;}
#NightView>div.on h3 {display: none;}
#NightView>div video {display:none;}
#NightView>div img {width:200px; height: 150px; position: absolute; top:50%; margin-top: -100px; left:50%; margin-left: -100px; }

#NightView .box_night1 {overflow:hidden; left:10%;transition:all 0.5s;}
#NightView .box_night2 {left:30%;transition:all 0.5s;}
#NightView .box_night3 {left:50%;transition:all 0.5s;}
#NightView .box_night4 {left:70%;transition:all 0.5s;}

#NightView>div.on {transform:skewX(0deg);width:100%; height: 100%; position:fixed;top:0px; left:0px;margin: 0 auto;z-index:99999;transition:all 0.5s;opacity: 1;}
#NightView div .btn_night {display: block; width: 100px; height: 30px; background: #fff;position: absolute;left:50%; margin-left: -50px; bottom: 20px;font:16px/1.8 "orbitron"; color:#000;transform:skewX(0deg); text-align: center;}
#NightView>div .close {opacity: 0;}
#NightView>div.on .close {display: block;width:100px; height: 30px; position:absolute;top:100px; right: 100px; font:16px/1.7 "arial"; color: #fff; cursor: pointer;z-index: 9999999; background:rgba(0,0,0,0.4);text-align: center;transition:all 0.5s;opacity: 1;transition-delay: 3s;}

#NightView>div.on video {width:1400px;height:1000px; position: absolute; left: 50%; margin-left: -700px; top:50%; margin-top: -500px;}

/*  Food 탭  */
#Food {position: relative;overflow: hidden;}
#Food .obj1 {position: absolute; bottom: -480px; right: -180px;opacity:0.6;}
#Food .obj2 {position:absolute; bottom: -40px; right: 130px;opacity:0.6;}
#Food .tab_food {width:850px; height: 500px; position: relative; top:120px; left:50%; margin-left: -460px; border: 1px solid #fff;box-sizing: borer-box; transform:skewX(8deg);}

.list_food h3 {float:left;width:170px; height: 40px; background:rgba(0,0,0,0.5);font:14px/3 "orbitron"; color:#fff; text-align: center;cursor: pointer;}
.list_food li.on h3 {background:#fff; color:#000;opacity: 0.8;font-weight: bold;}
.list_food li .box_food {display:none;}
.list_food li.on .box_food {display:block;width:850px; height: 460px;background:#fff; position:absolute;top:40px; left:0px; }
.list_food li .box_food .sum_food {float:left;width:340px; height:430px;margin: 10px;}
.list_food li .box_food .con_food {padding:15px; float:left;width:465px; height:430px;margin-left: 10px;border: 1px solid #eee; background:#eee;margin: 10px; font:15px/1.6 "arial";box-sizing: border-box;}

.list_food .wantang .sum_food {background: url(../img/table2.jpg) no-repeat;background-size:cover;}
.list_food .mango .sum_food {background: url(../img/mango.jpg) no-repeat;background-size:cover;}
.list_food .dimsum .sum_food {background: url(../img/table3.jpg) no-repeat;background-size:cover;}
.list_food .noodle .sum_food {background: url(../img/table4.jpg) no-repeat;background-size:cover;}
.list_food .dessert .sum_food {background: url(../img/table6.jpg) no-repeat;background-size:cover;}

.list_food li.on .sum_food {animation:ani3 5s linear infinite;}

@keyframes ani3 {
	0%{background-position: 0px 0px;}
	50%{background-position: -70px 0px;}
	100% {background-position: 0px 0px;}
}

/*  Hotel 롤링 */
#Hotel .con_hotel {width: 820px; height: 520px; padding: 10px; background: rgba(0,0,0,0.5); position: relative; top:100px; left: 50%; margin-left: -410px; overflow: hidden; z-index: 9999;}

.con_hotel .box_google {float: left;width:572px; height:480px;}
.con_hotel .googlemap {padding:10px;border:1px solid #adadad; width:550px; height:450px;}
.con_hotel h3 {width:200px; height:30px; font:18px/1 "orbitron"; color:#fff}

.con_hotel .box_hotel {float: left; margin-left: 10px;width:222px; height: 480px;}
.con_hotel .box_list {position:relative;width:200px; height:450px;border:1px solid #adadad; overflow: hidden;padding: 10px; }
.con_hotel .list_hotel {position: absolute; top:-80px;}
.con_hotel .list_hotel li {position: relative;}
.con_hotel .list_hotel li img {width:200px; height: 80px;} 
.con_hotel .list_hotel li .tit_hotel {display:block;width:200px;height:20px; font:12px/1.5 "arial";color:#fff; text-align: center;position: absolute; bottom: 0px;background:rgba(0,0,0,0.6);transition:all 1s;opacity: 0;}
.con_hotel .list_hotel li .tit_hotel.on {opacity: 1;}

.con_hotel .btn_next img{display:block;width:44px; height:44px;position:absolute; bottom:0px; left:50%; margin-left:-22px;opacity: 0;transition:all 0.5s;}
.con_hotel .btn_next.on img{display:block;width:44px; height:44px;position:absolute; bottom:5px; left:50%; margin-left:-22px;opacity: 1;transition:all 0.5s;}
.con_hotel .btn_prev img{display:block;width:44px; height:44px;position:absolute; top:0px; left:50%; margin-left:-22px;opacity: 0;transition:all 0.5s;z-index:9999;}
.con_hotel .btn_prev.on img{display:block;width:44px; height:44px;position:absolute; top:5px; left:50%; margin-left:-22px;opacity: 1;transition:all 0.5s;z-index:9999;}

.con_hotel .dec_hotel {width:552px; height:450px; position:absolute; top:50px; left:20px; background:#ddd;border: 1px solid #eee;}

.con_hotel .dec_hotel .dec_con {width:100%; height: 100%;}

.con_hotel .dec_hotel img {width:532px; position: absolute; top:10px; left: 10px;}
.con_hotel .dec_hotel p {width: 522px; height: 100px; position: absolute; bottom: 5px; left:5px; background: rgba(0,0,0,0.7); font:11px/1.6 "arial"; color:#fff;padding: 10px;}
.con_hotel .dec_hotel .tit_hotel {display: block; position: absolute; top:0px; left:0px; width: 200px; height: 25px; font:bold 14px/1.5 "Orbitron"; color: #000; background: #ddd; text-align: center;}
.dec_hotel .btn_close {text-indent:-9999px; display:block; width: 40px; height: 40px; cursor: pointer; position: absolute; top: 10px; right: 10px; background: url(../img/close.png) no-repeat; background-size: cover; opacity: 0.8; z-index: 9999999;}

